$bgColor1: #3b3750;
$bgColor2: #000000;
$bgColor3: #084475;
$textColor: #ffffff;
$borderColor: #07869c;
$hoverColor: #ff0000;
$hoverColor1: #c98a2b;

$fontFamily: 'vrinda';
$fontFamily1: "cascadia code light";
