@import "./colors";

@mixin display {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bgColor1;
}

.todo-app {
  @include display;

  width: 300px;
  background-color: $bgColor2;
  text-align: center;
  margin: 90px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  font-family: $fontFamily1;
}

h3 {
  margin: 32px 10px;
  color: $textColor;
  font-size: 18px;
}
.todo-appForm {
  margin-bottom: 32px;
  font-family: $fontFamily;

  input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid $borderColor;
    outline: none;
    background: transparent;
    color: $textColor;
    font-family: $fontFamily;
  }

  &::placeholder {
    color: $textColor;
  }

  button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: $borderColor;
    color: $textColor;

    &:hover {
      color: $bgColor2;
      background-color: $hoverColor1;
    }
  }
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  color: $textColor;
  background-color: $bgColor3;
  padding: 16px;
  border-radius: 5px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: $textColor;

  &:hover {
    color: $hoverColor;
  }
}

.edit-icon {
  color: $textColor;

  &:hover {
    color: $hoverColor1;
  }
}

// /* Large devices (600px to 1200px) */
@media screen and (max-width: 1200px) and (min-width: 600px) {
  .todo-app {
    width: 450px;
  }
  .todo-row {
    margin-left: 15px;
    margin-right: 15px;
  }
  .todo-appForm {
    input {
      width: 300px;
    }
  }
}

// /* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  .todo-app {
    width: 620px;
  }
  .todo-row {
    margin-left: 35px;
    margin-right: 35px;
  }

  .todo-appForm {
    input {
      width: 420px;
    }
  }
}
